# Virtual Environment
venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables
.env

# Jupyter files
.ipynb_checkpoints/

# macOS files
.DS_Store

# Large model files
*.bin
*.pt
*.pth
*.safetensors

# Raw large datasets
data/raw/

# Logs
*.log
.env

